@use "../../styles/variables" as *;

.section {
    // background: linear-gradient(135deg, $gradient-green-start 0%, $gradient-green-end 100%);

  padding: 0 0;

  padding-bottom: 2rem;

  .heading {
    font-family: $font-heading;
    font-size: clamp(1.75rem, 4vw, $h2-size);
    font-weight: $light-weight;
    color: $text-white;

  }

  
  .subTitle,
  .description {
    font-family: $font-body;
    color: $text-light;
  }

  .subTitle {
    font-size: $font-xs;
    font-weight: 500;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    letter-spacing: $letter-spacing-sm;
  }

  .description {
    font-size: $font-sm;
    line-height: 1.6;
    margin-bottom: 2.5rem;
    white-space: pre-wrap; 
    word-break: break-word; 
    
  }



  .mapWrapper {
    width: 100%;
    aspect-ratio: 16 / 9; // ye 16:9 ko maintain karega
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
  
    iframe {
      width: 100%;
      height: 100%;
      border: 0;
    }
  }
  
}



