@use "../../styles/variables" as *;

.section {
  padding: 3rem 0;
}



.heading {
  font-family: $font-heading;
  font-size: clamp(1.75rem, 4vw, $h2-size);
  font-weight: $light-weight;
  color: $text-white;
  margin-bottom: 1rem;
  line-height: 1.2;
}
